<div class="background">
    <div>
        <mat-toolbar color="primary" class="toolbar-title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" class="menu"></mat-icon>
            
            <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Aventura e Ação</button>
                <button mat-menu-item>Biografias e Memórias</button>
                <button mat-menu-item>Ficção Científica</button>
                <button mat-menu-item>Literatura Clássica</button>
                <button mat-menu-item>Mistério e Suspense</button>
            </mat-menu>

            <mat-form-field class="barraPesquisa">
                <input matInput placeholder="Pesquisar...">
                <mat-icon matSuffix class="iconPesquisar">search</mat-icon>
            </mat-form-field>

            <mat-icon class="iconPerfil">person</mat-icon>
            <mat-icon class="iconCesta">shopping_basket</mat-icon>
        </mat-toolbar>
    
    </div>

    <div class="formDivCadastro">

        <div>
            <mat-card class="matcardForm">

                <mat-card-content class="titulo">Cadastre Um Novo Produto</mat-card-content>
                <mat-card class="addImage">
                <mat-icon class="iconFoto">perm_media</mat-icon>

                <button mat-flat-button class="botao">Enviar Imagem</button>
                
                </mat-card>
                <div class="divForm">
                    <mat-card-content>
                        <form [formGroup]="formGroup">
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Estilo Da Luminaria:</mat-label>
                                <input matInput type="text" formControlName="estilo" class="input">
                                <mat-error *ngIf="formGroup.get('estilo')?.errors && 
                                                formGroup.get('estilo')?.touched">
                                    {{getErrorMessage('estilo', formGroup.get('estilo')?.errors)}}

                                    @if (formGroup.get('estilo')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('estilo')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Tipo De Fonte De Luz:</mat-label>
                                <input matInput type="text" formControlName="tipoDeFonteDeLuz" class="input">
                                <mat-error *ngIf="formGroup.get('tipoDeFonteDeLuz')?.errors && 
                                                formGroup.get('tipoDeFonteDeLuz')?.touched">
                                    {{getErrorMessage('tipoDeFonteDeLuz', formGroup.get('tipoDeFonteDeLuz')?.errors)}}

                                    @if (formGroup.get('tipoDeFonteDeLuz')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('tipoDeFonteDeLuz')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Id da cor:</mat-label>
                                <input matInput type="number" formControlName="cor" class="input">
                                <mat-error *ngIf="formGroup.get('cor')?.errors && 
                                                formGroup.get('cor')?.touched">
                                    {{getErrorMessage('cor', formGroup.get('cor')?.errors)}}

                                    @if (formGroup.get('cor')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('cor')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Id da marca:</mat-label>
                                <input matInput type="number" formControlName="marca" class="input">
                                <mat-error *ngIf="formGroup.get('marca')?.errors && 
                                                formGroup.get('marca')?.touched">
                                    {{getErrorMessage('marca', formGroup.get('marca')?.errors)}}

                                    @if (formGroup.get('marca')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('marca')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Descricao:</mat-label>
                                <input matInput type="text" formControlName="descricao" class="input">
                                <mat-error *ngIf="formGroup.get('descricao')?.errors && 
                                                formGroup.get('descricao')?.touched">
                                    {{getErrorMessage('descricao', formGroup.get('descricao')?.errors)}}

                                    @if (formGroup.get('descricao')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('descricao')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Valor:</mat-label>
                                <input matInput type="number" formControlName="valor" class="input">
                                <mat-error *ngIf="formGroup.get('valor')?.errors && 
                                                formGroup.get('valor')?.touched">
                                    {{getErrorMessage('valor', formGroup.get('valor')?.errors)}}

                                    @if (formGroup.get('valor')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('valor')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                        </form>
                    </mat-card-content>
                </div>
                <mat-card-actions>
                    <button mat-raised-button 
                            color="primary" 
                            (click)="cadastrar()"
                            routerLink="/luminaria/list">
                        Cadastrar 
                    </button>
                    <button mat-raised-button  
                            routerLink="/luminaria/list"> 
                        Cancelar 
                    </button>

                </mat-card-actions>

            </mat-card>
        </div>

    </div>

</div>

<div class="rodape">
    <div class="tituloRodape">©Universidade Estadual do Tocantins</div>
</div>