<div class="background">
    <div>
        <mat-toolbar color="primary" class="toolbar-title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" class="menu"></mat-icon>
            
            <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Aventura e Ação</button>
                <button mat-menu-item>Biografias e Memórias</button>
                <button mat-menu-item>Ficção Científica</button>
                <button mat-menu-item>Literatura Clássica</button>
                <button mat-menu-item>Mistério e Suspense</button>
            </mat-menu>

            <mat-form-field class="barraPesquisa">
                <input matInput placeholder="Pesquisar...">
                <mat-icon matSuffix class="iconPesquisar">search</mat-icon>
            </mat-form-field>

            <mat-icon class="iconPerfil">person</mat-icon>
            <mat-icon class="iconCesta">shopping_basket</mat-icon>
        </mat-toolbar>
    
    </div>

    <div class="formDivCadastro">

        <div>
            <mat-card class="matcardForm">

                <mat-card-content class="titulo">Cadastre Novos Livros</mat-card-content>
                <mat-card class="addImage">
                <mat-icon class="iconFoto">perm_media</mat-icon>
                    
                <button mat-flat-button class="botao">Enviar Imagem</button>

                </mat-card>
                <div class="divForm">
                    <mat-card-content>
                        <form [formGroup]="formGroup">
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Título:</mat-label>
                                <input matInput type="text" formControlName="titulo" class="input">
                                <mat-error *ngIf="formGroup.get('titulo')?.errors && 
                                                formGroup.get('titulo')?.touched">
                                    {{getErrorMessage('titulo', formGroup.get('titulo')?.errors)}}

                                    @if (formGroup.get('titulo')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('titulo')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Preço R$:</mat-label>
                                <input matInput type="number" formControlName="preco" class="input">
                                <mat-error *ngIf="formGroup.get('preco')?.errors && 
                                                formGroup.get('preco')?.touched">
                                    {{getErrorMessage('preco', formGroup.get('preco')?.errors)}}

                                    @if (formGroup.get('preco')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('preco')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Autor:</mat-label>
                                <input matInput type="text" formControlName="autor" class="input">
                                <mat-error *ngIf="formGroup.get('autor')?.errors && 
                                                formGroup.get('autor')?.touched">
                                    {{getErrorMessage('autor', formGroup.get('autor')?.errors)}}

                                    @if (formGroup.get('autor')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('autor')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Ano de Publicação:</mat-label>
                                <input matInput type="number" formControlName="ano_publicacao" class="input">
                                <mat-error *ngIf="formGroup.get('ano_publicacao')?.errors && 
                                                formGroup.get('ano_publicacao')?.touched">
                                    {{getErrorMessage('ano_publicacao', formGroup.get('ano_publicacao')?.errors)}}

                                    @if (formGroup.get('ano_publicacao')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('ano_publicacao')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Editora</mat-label>
                                <input matInput type="text" formControlName="editora" class="input">
                                <mat-error *ngIf="formGroup.get('editora')?.errors && 
                                                formGroup.get('editora')?.touched">
                                    {{getErrorMessage('editora', formGroup.get('editora')?.errors)}}

                                    @if (formGroup.get('editora')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('editora')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>ISBN</mat-label>
                                <input matInput type="number" formControlName="isbn" class="input">
                                <mat-error *ngIf="formGroup.get('isbn')?.errors && 
                                                formGroup.get('isbn')?.touched">
                                    {{getErrorMessage('isbn', formGroup.get('isbn')?.errors)}}

                                    @if (formGroup.get('isbn')?.hasError('apiError')) {
                                        <span>{{ formGroup.get('isbn')?.getError('apiError') }}</span>
                                    }
                                </mat-error>
                            </mat-form-field>

                        </form>
                    </mat-card-content>
                </div>
                <mat-card-actions>
                    <button mat-raised-button 
                            color="primary" 
                            (click)="cadastrar()">
                        Cadastrar 
                    </button>
                    <button mat-raised-button  
                            routerLink="/livro"> 
                        Cancelar 
                    </button>

                </mat-card-actions>

            </mat-card>
        </div>

    </div>

</div>

<div class="rodape">
    <div class="tituloRodape">©Universidade Estadual do Tocantins</div>
</div>