<div class="login-container">
    <div class="login-box">
        <img class="login-icon" src="/assets/icons/passkey.svg" alt="Passkey">
        <h2 class="login-title">Bem-vindo</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="login-input">
                <input matInput placeholder="Login" formControlName="login" required>
                <mat-error *ngIf="loginForm.get('login')!.hasError('required')">O campo não pode estar vazio.</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput type="password" placeholder="Senha" formControlName="senha" required>
                <mat-error *ngIf="loginForm.get('senha')!.hasError('required')">O campo não pode estar vazio.</mat-error>
            </mat-form-field>
            <a class="href" href="/editpass">Esqueci a senha</a>
            <button mat-raised-button class="login-button" type="submit">Login</button>
            <br><br>
            <a class="login" href="/perfil">Novo por aqui? crie seu login</a>
        </form>
    </div>
</div>