.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F1F1F1;
}

.login-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  display: block;
}



.login-title {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.login-input {
  width: 100%;
  margin: 10px 0;
}

button[mat-raised-button] {
  width: 100%;
  margin-top: 20px;
  background: #009dac;
  color: #fff;
  transition: background 0.3s;
}

.login-button:hover {
  background: #00727c;
}

.href{
  position: absolute;
  left: 56%;
  bottom: 28%;
  margin-left: 15px;
}