<mat-toolbar>
    <span class="toolbar-title">Alterar Senha</span>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nova Senha</mat-label>
                    <input matInput type="text" formControlName="senha">
                    <mat-error *ngIf="formGroup.get('senha')?.errors && 
                                      formGroup.get('senha')?.touched">
                        @if (formGroup.get('senha')?.errors?.['required']) {
                            <span>Insira a senha nova.</span>
                        } 
                        @if (formGroup.get('senha')?.hasError('apiError')) {
                            <span>{{ formGroup.get('senha')?.getError('apiError') }}</span>
                        }
                    </mat-error>
                </mat-form-field>

               <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Repetir Senha</mat-label>
                    <input matInput type="text" formControlName="senha">
                    <mat-error *ngIf="formGroup.get('senha')?.errors && 
                                      formGroup.get('senha')?.touched">
                        @if (formGroup.get('senha')?.errors?.['required']) {
                            <span>Informe a senha novamente.</span>
                        } 
                        @if (formGroup.get('senha')?.hasError('apiError')) {
                            <span>{{ formGroup.get('senha')?.getError('apiError') }}</span>
                        }
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()">
                    <!-- [disabled]="formGroup.invalid">  -->
                Salvar 
            </button>
            <button mat-raised-button 
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid"> 
                Excluir 
            </button>
            <button mat-raised-button  
                (click)="voltarPagina()">
                Cancelar 
            </button>

        </mat-card-actions>
    </mat-card>
</div>

