<div class="background">
    <div>
        <mat-toolbar color="primary" class="toolbar-title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" class="menu"></mat-icon>
            
            <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Aventura e Ação</button>
                <button mat-menu-item>Biografias e Memórias</button>
                <button mat-menu-item>Ficção Científica</button>
                <button mat-menu-item>Literatura Clássica</button>
                <button mat-menu-item>Mistério e Suspense</button>
            </mat-menu>

            <mat-form-field class="barraPesquisa">
                <input matInput placeholder="Pesquisar...">
                <mat-icon matSuffix class="iconPesquisar">search</mat-icon>
            </mat-form-field>

            <mat-icon class="iconPerfil">person</mat-icon>
            <mat-icon class="iconCesta">shopping_basket</mat-icon>
        </mat-toolbar>
    
    </div>

    <div class="divForm">
            <mat-card class="cardTitulo">Lista de Usuários Cadastrados</mat-card>
            <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">
                
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <!-- Nome Column -->
                <ng-container matColumnDef="nomeUsuario">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeUsuario}} </td>
                </ng-container>
            
                <!-- Sigla Column -->
                <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef> Telefone </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
                </ng-container>

                <ng-container matColumnDef="cep">
                    <th mat-header-cell *matHeaderCellDef> CEP </th>
                    <td mat-cell *matCellDef="let element"> {{element.cep}} </td>
                </ng-container>
            
                <!-- Acao Column -->
                <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Ação </th>
                <td mat-cell *matCellDef="let element"> 

                    <button mat-icon-button 
                        color="primary"
                        routerLink="/usuario/edit/{{element.id}}">
                        <mat-icon>Editar</mat-icon>
                    </button>

                    <button mat-icon-button 
                            color="warn">
                            <mat-icon>Excluir</mat-icon>
                    </button>        
                </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator 
                [pageSizeOptions]="[2, 4, 8, 16]" 
                [pageSize]="pageSize" 
                [length]="totalRecords"
                (page)="paginar($event)">
            </mat-paginator>
            
    </div>

</div>

<div class="rodape">
    <div class="tituloRodape">©Universidade Estadual do Tocantins</div>
</div>
