.background{
    background-color: #F1F1F1;
    padding-bottom: 4%;
  }
  
  mat-card-actions {
      display: flex;
      justify-content: flex-end;
  }

  
  button[mat-raised-button] {
      width: 120px;
      border-radius: 20px;
      margin-right: 30px;
      margin-bottom: 40px;
  }
  
  button[mat-raised-button]:not(:last-child) {
    width: 120px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  
  button[mat-raised-button]:not(:last-child) {
      margin-right: 9.5rem;
      background-color: #009DAC;
      border-radius: 20px;
  }
  button[mat-flat-button]{
    color: white;
    background-color: #009DAC;
  }
  
  .mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-nome {
    width: 100%;
  }
  .mat-column-sigla {
    text-align: center;
    min-width: 5em;
  }
  .mat-column-acao {
    text-align: center;
    min-width: 10em;
  }

 .mat-elevation-z8{
    margin-right: 250px;
    margin-bottom: 500px;
    margin-top: 50px;
  }

  .divForm{
    width: 80%; 
    margin-left: 180px;
  }
  .botaoAdd{
    background-color: #009DAC;
   float: right;
  }

  .cardTitulo{
    background-color: #F1F1F1;
    box-shadow: none;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #009DAC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }